html {
  width: 95vw;
  margin: 0 auto;
  background-color: rgb(254, 255, 187);
}

h1 {
  font-family: "Red Hat Text";
  font-weight: bold;
  font-size: 3em;
  color: rgb(17, 138, 134);
  padding: 1em 0 0.5em 1em;
}

input {
  position: absolute;
  z-index: -1;
}

.accordion-container {
  margin: 1em 0;
  border-radius: 0.5em;
  overflow: hidden;
  cursor: pointer;
}

.accordion-container:active {
  opacity: 85%;
}

.accordion-item-title {
  font-family: "Aleo";
  font-size: 1.8em;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
  background: lightseagreen;
  color: #fff;
}

.container:hover .accordion-item-title {
  color: rgb(132, 247, 243);
}

.accordion-item-title::after {
  display: none;
  content: url(../images/plus-solid.svg);
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.6s;
}

.accordion-item-content {
  margin-top: 1em;
  background-color: rgb(254, 255, 187);
  display: flex;
  justify-content: center;
  max-height: 0;
  opacity: 0.2;
  transition: all 0.6s;
}

.accordion-item-content img {
  width: 40em;
}

.container:hover .accordion-item-title::after {
  display: block;
}

input:checked + .accordion-item-title {
  color: rgb(132, 247, 243);
}

input:checked + .accordion-item-title::after {
  transform: rotate(45deg);
}

.accordion-container:hover .accordion-item-content,
.accordion-item-content:hover,
input:checked ~ .accordion-item-content {
  max-height: 100vh;
  opacity: 1;
}

@media only screen and (min-width: 820px) {
  h1 {
    font-size: 2.5em;
  }
  .accordion-item-title {
    font-size: 1.5em;
  }
  .accordion-item-content img {
    width: 35em;
  }
}

@media only screen and (min-width: 1080px) {
  html {
    width: 60em;
  }

  h1 {
    font-size: 2.2em;
  }
  .accordion-item-title {
    font-size: 1.2em;
  }
  .accordion-item-content img {
    width: 30em;
  }
}
